:root {
	--accent: 163, 190, 140;
	--foreground: 216, 222, 233;
	--background: 46, 52, 64;
	--background-secondary: 59, 66, 82;
	--foreground-secondary: 167, 173, 186;
}

a {
	text-decoration: underline;
	transition:
		color 0.2s ease,
		border-bottom-color 0.2s ease;
}

a:hover {
	color: rgb(var(--accent));
}

* {
	box-sizing: border-box;
}
