---
type Link = {
	href: string;
	text: string;
};
const data: Link[] = [
	{
		href: 'https://github.com/Asalz20',
		text: 'Follow me on GitHub',
	},
	{
		href: 'https://www.linkedin.com/in/alex-salazar-dev/',
		text: 'Follow me on LinkedIn',
	},
	{
		href: 'https://x.com/alexsalazarr_',
		text: 'Follow me on X/Twitter',
	},
];
---

<ul>
	{
		data.map((link) => (
			<li class="py-1">
				<a
					href={link.href}
					target="_blank"
				>
					{link.text}
				</a>
			</li>
		))
	}
</ul>
